header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

main {
	width: 940px;
	margin: 0 auto;
}

form{
	margin:40px 0;
}

form label,form legend{
	display: block;
	font-size: 20px;
	margin:0 0 15px;
}

.input-padrao{
	width:50%;
	display: block;
	margin: 0 0 25px;
	padding: 20px 15px;
}


footer {
    text-align: center;
    background: #222222;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

.checkbox {
	display: inline-block;
	margin: 20px 0;;
}

fieldset select{
	display: block;
	margin: 0 0 25px;
	padding: 15px 20px;
	cursor: pointer;
}



.enviar{
	margin: 0 0 25px;
	padding: 15px 20px;
	background: orange;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	width: 20%;
}

.enviar:hover{
	background: red;
	transition: 5s all;
	transform: scale(1.2);
}

table{
	margin: 20px 0 30px;
}

thead{
	background-color: #BBBBBB;
	font-weight: bold;
}

th{
	padding: 10px;
	border:1px solid #000000;
}

td{
	border: solid 1px #222222;
	padding: 10px;
}
